.aboutcenter {
     text-align: center  !important;
}

.justify {   
    text-align: justify !important;
    text-justify: inter-word  !important; 
    box-sizing: border-box !important;
    margin-left: 5%  !important; 
    margin-right: 5%  !important; 
    margin-top: 20px  !important; 
    margin-bottom: 10px  !important;  
}

li {   
   text-align: justify !important;
   text-justify: inter-word  !important; 
   box-sizing: border-box !important;
   margin-left: 8%  !important; 
   margin-right: 5%  !important; 
   margin-top: 20px  !important; 
   margin-bottom: 10px  !important; 
}